.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.891602;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.288000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.205000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.301000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.194000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.882324;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.237029;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:1.303000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249846,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249846,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249846,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.249852,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249852,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249852,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249859,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249859,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249859,0.000000,0.000000,0.250000,0,0);}
.v1{vertical-align:-55.199978px;}
.v0{vertical-align:0.000000px;}
.ls3c{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.002400px;}
.ls75{letter-spacing:0.005068px;}
.ls2{letter-spacing:0.007035px;}
.ls0{letter-spacing:0.007084px;}
.ls3d{letter-spacing:0.007094px;}
.ls8{letter-spacing:0.011051px;}
.ls73{letter-spacing:0.014071px;}
.lsb{letter-spacing:0.014168px;}
.ls14{letter-spacing:0.014188px;}
.ls74{letter-spacing:0.022400px;}
.ls56{letter-spacing:0.029280px;}
.ls41{letter-spacing:0.039040px;}
.ls6d{letter-spacing:0.073220px;}
.ls5c{letter-spacing:0.081680px;}
.ls1{letter-spacing:0.103934px;}
.ls1d{letter-spacing:0.109318px;}
.ls70{letter-spacing:0.115269px;}
.ls5{letter-spacing:0.162986px;}
.ls6{letter-spacing:0.207868px;}
.ls2b{letter-spacing:0.211480px;}
.ls4d{letter-spacing:0.211525px;}
.ls4e{letter-spacing:0.230800px;}
.ls60{letter-spacing:0.246240px;}
.ls72{letter-spacing:0.255302px;}
.ls52{letter-spacing:0.256000px;}
.ls16{letter-spacing:0.300468px;}
.ls3b{letter-spacing:0.340680px;}
.ls3{letter-spacing:0.368120px;}
.ls18{letter-spacing:0.449569px;}
.ls1c{letter-spacing:0.463353px;}
.ls7{letter-spacing:0.487367px;}
.ls3a{letter-spacing:0.848400px;}
.ls17{letter-spacing:0.943636px;}
.ls15{letter-spacing:0.967651px;}
.ls64{letter-spacing:1.301239px;}
.ls42{letter-spacing:1.328679px;}
.ls69{letter-spacing:1.781519px;}
.ls29{letter-spacing:1.808959px;}
.ls20{letter-spacing:1.904203px;}
.ls22{letter-spacing:1.904603px;}
.ls1f{letter-spacing:1.928217px;}
.ls68{letter-spacing:2.261799px;}
.ls28{letter-spacing:2.289199px;}
.ls21{letter-spacing:2.408500px;}
.ls40{letter-spacing:2.742039px;}
.ls32{letter-spacing:2.769479px;}
.ls59{letter-spacing:3.222319px;}
.ls31{letter-spacing:3.249759px;}
.ls11{letter-spacing:3.345052px;}
.lsf{letter-spacing:3.345452px;}
.ls10{letter-spacing:3.369066px;}
.ls55{letter-spacing:3.702599px;}
.ls39{letter-spacing:3.730039px;}
.ls13{letter-spacing:3.825335px;}
.ls12{letter-spacing:3.849350px;}
.ls54{letter-spacing:4.182838px;}
.ls30{letter-spacing:4.210278px;}
.ls5a{letter-spacing:4.690558px;}
.lsa{letter-spacing:4.785902px;}
.ls9{letter-spacing:4.809916px;}
.ls48{letter-spacing:5.170838px;}
.ls47{letter-spacing:5.623678px;}
.ls53{letter-spacing:5.651118px;}
.ls63{letter-spacing:6.103958px;}
.ls4b{letter-spacing:6.131358px;}
.ls1a{letter-spacing:6.226751px;}
.ls19{letter-spacing:6.250765px;}
.ls3e{letter-spacing:6.611637px;}
.ls1b{letter-spacing:6.731049px;}
.ls3f{letter-spacing:7.064477px;}
.ls5b{letter-spacing:7.064517px;}
.ls2e{letter-spacing:7.091917px;}
.ls38{letter-spacing:7.544757px;}
.ls2f{letter-spacing:7.572197px;}
.ls34{letter-spacing:8.025037px;}
.ls37{letter-spacing:8.052477px;}
.ls33{letter-spacing:8.532717px;}
.lse{letter-spacing:8.628167px;}
.lsc{letter-spacing:8.628567px;}
.lsd{letter-spacing:8.652181px;}
.ls65{letter-spacing:8.985556px;}
.ls5f{letter-spacing:9.012996px;}
.ls66{letter-spacing:9.493276px;}
.ls25{letter-spacing:9.588734px;}
.ls24{letter-spacing:9.612739px;}
.ls23{letter-spacing:9.612748px;}
.ls61{letter-spacing:9.973556px;}
.ls26{letter-spacing:10.453796px;}
.ls27{letter-spacing:10.934076px;}
.ls62{letter-spacing:11.414355px;}
.ls67{letter-spacing:11.894635px;}
.ls6c{letter-spacing:12.494447px;}
.ls36{letter-spacing:14.295994px;}
.ls1e{letter-spacing:14.415579px;}
.ls35{letter-spacing:15.256514px;}
.ls44{letter-spacing:15.709354px;}
.ls2a{letter-spacing:16.217074px;}
.ls2c{letter-spacing:16.697313px;}
.ls2d{letter-spacing:16.697329px;}
.ls46{letter-spacing:17.657873px;}
.ls58{letter-spacing:18.138153px;}
.ls57{letter-spacing:18.618433px;}
.ls45{letter-spacing:21.019752px;}
.ls6e{letter-spacing:22.677399px;}
.ls6f{letter-spacing:22.678115px;}
.ls6b{letter-spacing:22.678651px;}
.ls71{letter-spacing:22.678974px;}
.ls4c{letter-spacing:23.421111px;}
.ls6a{letter-spacing:24.118171px;}
.ls4f{letter-spacing:26.783189px;}
.ls50{letter-spacing:27.263189px;}
.ls43{letter-spacing:33.506787px;}
.ls4a{letter-spacing:33.987186px;}
.ls49{letter-spacing:34.467186px;}
.ls51{letter-spacing:57.520332px;}
.ls5d{letter-spacing:70.968240px;}
.ls5e{letter-spacing:114.061811px;}
.ls76{letter-spacing:980.743608px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws6{word-spacing:-43.636303px;}
.wsb{word-spacing:-37.295985px;}
.ws0{word-spacing:-32.015987px;}
.ws9{word-spacing:-28.291514px;}
.ws2{word-spacing:-28.079989px;}
.ws5{word-spacing:-24.302178px;}
.ws3{word-spacing:-24.287990px;}
.ws1{word-spacing:-23.999990px;}
.ws8{word-spacing:-14.039994px;}
.ws4{word-spacing:-11.999995px;}
.ws7{word-spacing:0.000000px;}
.wsa{word-spacing:100.844037px;}
._32{margin-left:-70.938927px;}
._34{margin-left:-38.902185px;}
._33{margin-left:-20.651877px;}
._31{margin-left:-13.448068px;}
._3f{margin-left:-8.869063px;}
._35{margin-left:-4.464041px;}
._45{margin-left:-2.036040px;}
._1{margin-left:-1.015006px;}
._0{width:1.060095px;}
._26{width:2.078723px;}
._2{width:3.421004px;}
._18{width:5.235160px;}
._3{width:6.397822px;}
._8{width:7.575650px;}
._5{width:9.162002px;}
._3e{width:10.283348px;}
._6{width:11.298037px;}
._46{width:13.476888px;}
._4{width:14.496128px;}
._7{width:16.181847px;}
._d{width:17.340873px;}
._1b{width:19.691629px;}
._14{width:26.539469px;}
._2c{width:33.035641px;}
._10{width:34.258706px;}
._19{width:36.048642px;}
._a{width:42.039516px;}
._9{width:44.417272px;}
._3a{width:45.513618px;}
._42{width:47.016796px;}
._13{width:53.566027px;}
._40{width:57.406702px;}
._15{width:59.433865px;}
._29{width:60.770087px;}
._12{width:61.900297px;}
._e{width:62.958838px;}
._c{width:64.131982px;}
._f{width:65.572794px;}
._11{width:66.949840px;}
._2f{width:70.495613px;}
._30{width:71.913495px;}
._1f{width:82.868650px;}
._43{width:84.895926px;}
._b{width:86.776872px;}
._3d{width:95.941991px;}
._22{width:100.972281px;}
._1d{width:114.192277px;}
._1a{width:115.219028px;}
._23{width:116.649554px;}
._17{width:118.133763px;}
._16{width:120.640247px;}
._39{width:126.034229px;}
._38{width:129.335575px;}
._20{width:138.093667px;}
._1e{width:140.223069px;}
._21{width:141.847339px;}
._36{width:143.117319px;}
._24{width:148.964456px;}
._25{width:151.962393px;}
._27{width:162.360014px;}
._28{width:168.350720px;}
._44{width:184.110133px;}
._2b{width:225.191966px;}
._37{width:230.093956px;}
._3b{width:257.398323px;}
._3c{width:308.420713px;}
._2d{width:314.071993px;}
._41{width:315.128404px;}
._2a{width:317.965251px;}
._2e{width:387.137214px;}
._1c{width:1254.171862px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:39.839984px;}
.fs0{font-size:47.999981px;}
.fs2{font-size:56.159978px;}
.y3{bottom:45.440182px;}
.y53{bottom:75.000000px;}
.y75{bottom:78.559969px;}
.y31{bottom:79.500000px;}
.y52{bottom:79.999968px;}
.y51{bottom:96.559961px;}
.y30{bottom:98.359961px;}
.y74{bottom:101.479959px;}
.y93{bottom:109.399956px;}
.y2f{bottom:114.439954px;}
.y50{bottom:114.919954px;}
.y73{bottom:121.159952px;}
.y76{bottom:124.000000px;}
.y92{bottom:127.639949px;}
.yb9{bottom:129.439948px;}
.y2e{bottom:130.519948px;}
.y4f{bottom:131.479947px;}
.y72{bottom:137.239945px;}
.y2d{bottom:146.599941px;}
.y91{bottom:148.399941px;}
.y4e{bottom:149.719940px;}
.yb8{bottom:157.039937px;}
.y2c{bottom:162.679935px;}
.y71{bottom:163.519935px;}
.y90{bottom:166.999933px;}
.y4d{bottom:168.439933px;}
.yb7{bottom:170.839932px;}
.y2b{bottom:178.879928px;}
.y70{bottom:184.039926px;}
.yb6{bottom:184.639926px;}
.y4c{bottom:184.999926px;}
.y2a{bottom:194.959922px;}
.yb5{bottom:199.279920px;}
.y6f{bottom:200.119920px;}
.y4b{bottom:201.199920px;}
.y8f{bottom:203.719919px;}
.y29{bottom:211.039916px;}
.yb4{bottom:212.839915px;}
.y6e{bottom:212.959915px;}
.y4a{bottom:217.279913px;}
.y8e{bottom:226.279909px;}
.y28{bottom:227.119909px;}
.yb3{bottom:232.399907px;}
.y49{bottom:233.359907px;}
.y6d{bottom:237.199905px;}
.y8d{bottom:242.359903px;}
.y27{bottom:243.199903px;}
.yb2{bottom:246.199902px;}
.y48{bottom:251.599899px;}
.y6c{bottom:255.919898px;}
.y26{bottom:259.279896px;}
.yb1{bottom:259.999896px;}
.y8c{bottom:260.599896px;}
.y47{bottom:268.159893px;}
.yb0{bottom:273.799890px;}
.y6b{bottom:274.639890px;}
.y25{bottom:275.479890px;}
.y8b{bottom:279.439888px;}
.y46{bottom:284.239886px;}
.yaf{bottom:287.599885px;}
.y24{bottom:291.559883px;}
.y6a{bottom:293.479883px;}
.y8a{bottom:300.199880px;}
.yae{bottom:301.399879px;}
.y45{bottom:302.599879px;}
.y23{bottom:307.639877px;}
.y69{bottom:312.199875px;}
.yad{bottom:315.199874px;}
.y44{bottom:319.159872px;}
.y22{bottom:323.719871px;}
.y68{bottom:328.759868px;}
.yac{bottom:328.999868px;}
.y43{bottom:335.239866px;}
.y89{bottom:337.159865px;}
.y21{bottom:339.799864px;}
.yab{bottom:342.559863px;}
.y67{bottom:344.839862px;}
.y42{bottom:351.319859px;}
.y20{bottom:355.879858px;}
.yaa{bottom:356.359857px;}
.y88{bottom:360.199856px;}
.y41{bottom:367.399853px;}
.ya9{bottom:370.759852px;}
.y66{bottom:371.119852px;}
.y1f{bottom:371.959851px;}
.y87{bottom:376.519849px;}
.ya8{bottom:386.839845px;}
.y40{bottom:387.799845px;}
.y1e{bottom:388.159845px;}
.y86{bottom:389.239844px;}
.y65{bottom:395.479842px;}
.ya7{bottom:402.919839px;}
.y1d{bottom:404.239838px;}
.y64{bottom:415.879834px;}
.ya6{bottom:418.999832px;}
.y1c{bottom:420.079832px;}
.y3f{bottom:420.439832px;}
.y85{bottom:431.599827px;}
.y63{bottom:432.319827px;}
.y94{bottom:434.000000px;}
.y1b{bottom:436.399825px;}
.y3e{bottom:438.679825px;}
.ya5{bottom:439.279824px;}
.y62{bottom:448.399821px;}
.y84{bottom:450.439820px;}
.y1a{bottom:452.119819px;}
.ya4{bottom:456.199818px;}
.y3d{bottom:457.399817px;}
.y61{bottom:464.479814px;}
.y19{bottom:465.919814px;}
.y83{bottom:469.039812px;}
.ya3{bottom:472.279811px;}
.y3c{bottom:473.959810px;}
.y18{bottom:479.719808px;}
.y60{bottom:482.839807px;}
.ya2{bottom:488.359805px;}
.y3b{bottom:492.199803px;}
.y17{bottom:493.519803px;}
.y82{bottom:495.799802px;}
.y5f{bottom:501.559799px;}
.ya1{bottom:504.439798px;}
.y16{bottom:507.319797px;}
.y3a{bottom:508.879796px;}
.y81{bottom:517.759793px;}
.ya0{bottom:520.519792px;}
.y15{bottom:521.119792px;}
.y5e{bottom:522.319791px;}
.y39{bottom:524.959790px;}
.y80{bottom:530.479788px;}
.y14{bottom:534.919786px;}
.y9f{bottom:538.759784px;}
.y38{bottom:541.039784px;}
.y5d{bottom:543.319783px;}
.y13{bottom:548.719781px;}
.y37{bottom:557.119777px;}
.y9e{bottom:559.519776px;}
.y12{bottom:562.519775px;}
.y5c{bottom:564.319774px;}
.y36{bottom:575.839770px;}
.y11{bottom:576.319769px;}
.y7f{bottom:579.439768px;}
.y9d{bottom:580.519768px;}
.y5b{bottom:584.839766px;}
.y10{bottom:590.119764px;}
.y9c{bottom:597.439761px;}
.y7e{bottom:601.279759px;}
.yf{bottom:603.919758px;}
.y5a{bottom:605.839758px;}
.y9b{bottom:613.519755px;}
.ye{bottom:617.719753px;}
.y59{bottom:620.119752px;}
.y7d{bottom:622.159751px;}
.y9a{bottom:629.599748px;}
.yd{bottom:631.519747px;}
.y7c{bottom:638.479745px;}
.yc{bottom:645.319742px;}
.y99{bottom:645.679742px;}
.yb{bottom:659.119736px;}
.y7b{bottom:661.159736px;}
.y98{bottom:661.519735px;}
.y58{bottom:668.839732px;}
.ya{bottom:672.919731px;}
.y97{bottom:677.839729px;}
.y7a{bottom:681.559727px;}
.y9{bottom:686.719725px;}
.y96{bottom:694.039722px;}
.y79{bottom:697.639721px;}
.y8{bottom:700.519720px;}
.y57{bottom:707.479717px;}
.y95{bottom:710.119716px;}
.y78{bottom:713.839714px;}
.y7{bottom:714.319714px;}
.y56{bottom:723.559711px;}
.y35{bottom:726.199710px;}
.y6{bottom:728.479709px;}
.y55{bottom:739.639704px;}
.y77{bottom:740.119704px;}
.y34{bottom:742.279703px;}
.y5{bottom:744.559702px;}
.y54{bottom:757.879697px;}
.y33{bottom:758.359697px;}
.y4{bottom:760.279696px;}
.y2{bottom:776.599689px;}
.y0{bottom:781.500000px;}
.y1{bottom:788.359685px;}
.y32{bottom:790.399884px;}
.h1{height:5.000000px;}
.h3{height:36.812145px;}
.h4{height:44.351982px;}
.hd{height:45.743982px;}
.hc{height:46.079982px;}
.h2{height:46.271981px;}
.he{height:48.479981px;}
.h5{height:51.891819px;}
.h8{height:51.892619px;}
.h6{height:53.913578px;}
.hb{height:352.500000px;}
.ha{height:662.500000px;}
.h7{height:707.000000px;}
.h9{height:711.500000px;}
.h0{height:842.000000px;}
.w1{width:483.000000px;}
.w2{width:483.500000px;}
.w3{width:485.000000px;}
.w0{width:595.000000px;}
.xa{left:51.000000px;}
.x14{left:61.000000px;}
.x0{left:63.000000px;}
.x6{left:64.554074px;}
.x10{left:68.159476px;}
.xe{left:72.239768px;}
.x29{left:80.399968px;}
.x9{left:83.634067px;}
.x28{left:86.399965px;}
.x19{left:90.959964px;}
.x8{left:97.800320px;}
.x2{left:101.759959px;}
.x3{left:156.358976px;}
.xb{left:163.559935px;}
.x5{left:167.753933px;}
.x1{left:174.959930px;}
.x25{left:212.999915px;}
.x7{left:260.879896px;}
.x4{left:310.439876px;}
.x1f{left:313.679875px;}
.x1a{left:321.719871px;}
.x12{left:326.399434px;}
.x27{left:331.079868px;}
.x13{left:339.119864px;}
.x20{left:344.159862px;}
.x11{left:347.639899px;}
.x1e{left:351.719859px;}
.x1d{left:382.559847px;}
.x22{left:391.199844px;}
.x18{left:393.359843px;}
.x24{left:395.399842px;}
.x23{left:411.599835px;}
.x26{left:425.759830px;}
.x2a{left:434.033826px;}
.x2b{left:437.280016px;}
.x1b{left:440.639824px;}
.x1c{left:481.079808px;}
.xf{left:490.799804px;}
.x15{left:504.479798px;}
.x21{left:518.879792px;}
.x16{left:524.399790px;}
.xd{left:528.359792px;}
.xc{left:530.399788px;}
.x17{left:544.319782px;}
@media print{
.v1{vertical-align:-73.599971pt;}
.v0{vertical-align:0.000000pt;}
.ls3c{letter-spacing:0.000000pt;}
.ls4{letter-spacing:0.003200pt;}
.ls75{letter-spacing:0.006757pt;}
.ls2{letter-spacing:0.009381pt;}
.ls0{letter-spacing:0.009446pt;}
.ls3d{letter-spacing:0.009459pt;}
.ls8{letter-spacing:0.014735pt;}
.ls73{letter-spacing:0.018761pt;}
.lsb{letter-spacing:0.018891pt;}
.ls14{letter-spacing:0.018917pt;}
.ls74{letter-spacing:0.029867pt;}
.ls56{letter-spacing:0.039040pt;}
.ls41{letter-spacing:0.052053pt;}
.ls6d{letter-spacing:0.097626pt;}
.ls5c{letter-spacing:0.108907pt;}
.ls1{letter-spacing:0.138579pt;}
.ls1d{letter-spacing:0.145758pt;}
.ls70{letter-spacing:0.153692pt;}
.ls5{letter-spacing:0.217314pt;}
.ls6{letter-spacing:0.277158pt;}
.ls2b{letter-spacing:0.281973pt;}
.ls4d{letter-spacing:0.282034pt;}
.ls4e{letter-spacing:0.307733pt;}
.ls60{letter-spacing:0.328320pt;}
.ls72{letter-spacing:0.340402pt;}
.ls52{letter-spacing:0.341333pt;}
.ls16{letter-spacing:0.400624pt;}
.ls3b{letter-spacing:0.454240pt;}
.ls3{letter-spacing:0.490826pt;}
.ls18{letter-spacing:0.599425pt;}
.ls1c{letter-spacing:0.617804pt;}
.ls7{letter-spacing:0.649823pt;}
.ls3a{letter-spacing:1.131200pt;}
.ls17{letter-spacing:1.258182pt;}
.ls15{letter-spacing:1.290201pt;}
.ls64{letter-spacing:1.734986pt;}
.ls42{letter-spacing:1.771573pt;}
.ls69{letter-spacing:2.375359pt;}
.ls29{letter-spacing:2.411946pt;}
.ls20{letter-spacing:2.538937pt;}
.ls22{letter-spacing:2.539471pt;}
.ls1f{letter-spacing:2.570956pt;}
.ls68{letter-spacing:3.015732pt;}
.ls28{letter-spacing:3.052265pt;}
.ls21{letter-spacing:3.211333pt;}
.ls40{letter-spacing:3.656052pt;}
.ls32{letter-spacing:3.692639pt;}
.ls59{letter-spacing:4.296425pt;}
.ls31{letter-spacing:4.333012pt;}
.ls11{letter-spacing:4.460070pt;}
.lsf{letter-spacing:4.460603pt;}
.ls10{letter-spacing:4.492089pt;}
.ls55{letter-spacing:4.936798pt;}
.ls39{letter-spacing:4.973385pt;}
.ls13{letter-spacing:5.100447pt;}
.ls12{letter-spacing:5.132466pt;}
.ls54{letter-spacing:5.577118pt;}
.ls30{letter-spacing:5.613704pt;}
.ls5a{letter-spacing:6.254077pt;}
.lsa{letter-spacing:6.381202pt;}
.ls9{letter-spacing:6.413221pt;}
.ls48{letter-spacing:6.894451pt;}
.ls47{letter-spacing:7.498237pt;}
.ls53{letter-spacing:7.534824pt;}
.ls63{letter-spacing:8.138610pt;}
.ls4b{letter-spacing:8.175143pt;}
.ls1a{letter-spacing:8.302335pt;}
.ls19{letter-spacing:8.334354pt;}
.ls3e{letter-spacing:8.815516pt;}
.ls1b{letter-spacing:8.974732pt;}
.ls3f{letter-spacing:9.419303pt;}
.ls5b{letter-spacing:9.419356pt;}
.ls2e{letter-spacing:9.455890pt;}
.ls38{letter-spacing:10.059676pt;}
.ls2f{letter-spacing:10.096263pt;}
.ls34{letter-spacing:10.700049pt;}
.ls37{letter-spacing:10.736636pt;}
.ls33{letter-spacing:11.376955pt;}
.lse{letter-spacing:11.504223pt;}
.lsc{letter-spacing:11.504757pt;}
.lsd{letter-spacing:11.536242pt;}
.ls65{letter-spacing:11.980742pt;}
.ls5f{letter-spacing:12.017329pt;}
.ls66{letter-spacing:12.657702pt;}
.ls25{letter-spacing:12.784978pt;}
.ls24{letter-spacing:12.816985pt;}
.ls23{letter-spacing:12.816997pt;}
.ls61{letter-spacing:13.298075pt;}
.ls26{letter-spacing:13.938394pt;}
.ls27{letter-spacing:14.578768pt;}
.ls62{letter-spacing:15.219141pt;}
.ls67{letter-spacing:15.859514pt;}
.ls6c{letter-spacing:16.659262pt;}
.ls36{letter-spacing:19.061326pt;}
.ls1e{letter-spacing:19.220773pt;}
.ls35{letter-spacing:20.342019pt;}
.ls44{letter-spacing:20.945805pt;}
.ls2a{letter-spacing:21.622765pt;}
.ls2c{letter-spacing:22.263084pt;}
.ls2d{letter-spacing:22.263106pt;}
.ls46{letter-spacing:23.543831pt;}
.ls58{letter-spacing:24.184204pt;}
.ls57{letter-spacing:24.824577pt;}
.ls45{letter-spacing:28.026335pt;}
.ls6e{letter-spacing:30.236532pt;}
.ls6f{letter-spacing:30.237487pt;}
.ls6b{letter-spacing:30.238202pt;}
.ls71{letter-spacing:30.238632pt;}
.ls4c{letter-spacing:31.228148pt;}
.ls6a{letter-spacing:32.157562pt;}
.ls4f{letter-spacing:35.710919pt;}
.ls50{letter-spacing:36.350919pt;}
.ls43{letter-spacing:44.675715pt;}
.ls4a{letter-spacing:45.316249pt;}
.ls49{letter-spacing:45.956248pt;}
.ls51{letter-spacing:76.693776pt;}
.ls5d{letter-spacing:94.624321pt;}
.ls5e{letter-spacing:152.082415pt;}
.ls76{letter-spacing:1307.658144pt;}
.ws6{word-spacing:-58.181737pt;}
.wsb{word-spacing:-49.727980pt;}
.ws0{word-spacing:-42.687983pt;}
.ws9{word-spacing:-37.722019pt;}
.ws2{word-spacing:-37.439985pt;}
.ws5{word-spacing:-32.402904pt;}
.ws3{word-spacing:-32.383987pt;}
.ws1{word-spacing:-31.999987pt;}
.ws8{word-spacing:-18.719993pt;}
.ws4{word-spacing:-15.999994pt;}
.ws7{word-spacing:0.000000pt;}
.wsa{word-spacing:134.458716pt;}
._32{margin-left:-94.585236pt;}
._34{margin-left:-51.869580pt;}
._33{margin-left:-27.535836pt;}
._31{margin-left:-17.930758pt;}
._3f{margin-left:-11.825418pt;}
._35{margin-left:-5.952055pt;}
._45{margin-left:-2.714720pt;}
._1{margin-left:-1.353342pt;}
._0{width:1.413460pt;}
._26{width:2.771630pt;}
._2{width:4.561338pt;}
._18{width:6.980214pt;}
._3{width:8.530429pt;}
._8{width:10.100867pt;}
._5{width:12.216003pt;}
._3e{width:13.711130pt;}
._6{width:15.064049pt;}
._46{width:17.969184pt;}
._4{width:19.328170pt;}
._7{width:21.575796pt;}
._d{width:23.121164pt;}
._1b{width:26.255505pt;}
._14{width:35.385959pt;}
._2c{width:44.047521pt;}
._10{width:45.678275pt;}
._19{width:48.064855pt;}
._a{width:56.052687pt;}
._9{width:59.223029pt;}
._3a{width:60.684824pt;}
._42{width:62.689061pt;}
._13{width:71.421369pt;}
._40{width:76.542269pt;}
._15{width:79.245153pt;}
._29{width:81.026783pt;}
._12{width:82.533730pt;}
._e{width:83.945118pt;}
._c{width:85.509309pt;}
._f{width:87.430392pt;}
._11{width:89.266453pt;}
._2f{width:93.994151pt;}
._30{width:95.884660pt;}
._1f{width:110.491533pt;}
._43{width:113.194568pt;}
._b{width:115.702495pt;}
._3d{width:127.922655pt;}
._22{width:134.629708pt;}
._1d{width:152.256370pt;}
._1a{width:153.625371pt;}
._23{width:155.532739pt;}
._17{width:157.511684pt;}
._16{width:160.853662pt;}
._39{width:168.045638pt;}
._38{width:172.447434pt;}
._20{width:184.124889pt;}
._1e{width:186.964091pt;}
._21{width:189.129785pt;}
._36{width:190.823092pt;}
._24{width:198.619275pt;}
._25{width:202.616524pt;}
._27{width:216.480019pt;}
._28{width:224.467626pt;}
._44{width:245.480177pt;}
._2b{width:300.255954pt;}
._37{width:306.791942pt;}
._3b{width:343.197764pt;}
._3c{width:411.227617pt;}
._2d{width:418.762657pt;}
._41{width:420.171205pt;}
._2a{width:423.953668pt;}
._2e{width:516.182952pt;}
._1c{width:1672.229149pt;}
.fs1{font-size:53.119979pt;}
.fs0{font-size:63.999974pt;}
.fs2{font-size:74.879970pt;}
.y3{bottom:60.586909pt;}
.y53{bottom:100.000000pt;}
.y75{bottom:104.746625pt;}
.y31{bottom:106.000000pt;}
.y52{bottom:106.666624pt;}
.y51{bottom:128.746615pt;}
.y30{bottom:131.146614pt;}
.y74{bottom:135.306613pt;}
.y93{bottom:145.866608pt;}
.y2f{bottom:152.586606pt;}
.y50{bottom:153.226605pt;}
.y73{bottom:161.546602pt;}
.y76{bottom:165.333333pt;}
.y92{bottom:170.186599pt;}
.yb9{bottom:172.586598pt;}
.y2e{bottom:174.026597pt;}
.y4f{bottom:175.306597pt;}
.y72{bottom:182.986593pt;}
.y2d{bottom:195.466588pt;}
.y91{bottom:197.866588pt;}
.y4e{bottom:199.626587pt;}
.yb8{bottom:209.386583pt;}
.y2c{bottom:216.906580pt;}
.y71{bottom:218.026579pt;}
.y90{bottom:222.666578pt;}
.y4d{bottom:224.586577pt;}
.yb7{bottom:227.786576pt;}
.y2b{bottom:238.506571pt;}
.y70{bottom:245.386569pt;}
.yb6{bottom:246.186568pt;}
.y4c{bottom:246.666568pt;}
.y2a{bottom:259.946563pt;}
.yb5{bottom:265.706560pt;}
.y6f{bottom:266.826560pt;}
.y4b{bottom:268.266559pt;}
.y8f{bottom:271.626558pt;}
.y29{bottom:281.386554pt;}
.yb4{bottom:283.786553pt;}
.y6e{bottom:283.946553pt;}
.y4a{bottom:289.706551pt;}
.y8e{bottom:301.706546pt;}
.y28{bottom:302.826546pt;}
.yb3{bottom:309.866543pt;}
.y49{bottom:311.146542pt;}
.y6d{bottom:316.266540pt;}
.y8d{bottom:323.146537pt;}
.y27{bottom:324.266537pt;}
.yb2{bottom:328.266535pt;}
.y48{bottom:335.466532pt;}
.y6c{bottom:341.226530pt;}
.y26{bottom:345.706528pt;}
.yb1{bottom:346.666528pt;}
.y8c{bottom:347.466528pt;}
.y47{bottom:357.546524pt;}
.yb0{bottom:365.066521pt;}
.y6b{bottom:366.186520pt;}
.y25{bottom:367.306520pt;}
.y8b{bottom:372.586518pt;}
.y46{bottom:378.986515pt;}
.yaf{bottom:383.466513pt;}
.y24{bottom:388.746511pt;}
.y6a{bottom:391.306510pt;}
.y8a{bottom:400.266507pt;}
.yae{bottom:401.866506pt;}
.y45{bottom:403.466505pt;}
.y23{bottom:410.186503pt;}
.y69{bottom:416.266500pt;}
.yad{bottom:420.266499pt;}
.y44{bottom:425.546496pt;}
.y22{bottom:431.626494pt;}
.y68{bottom:438.346491pt;}
.yac{bottom:438.666491pt;}
.y43{bottom:446.986488pt;}
.y89{bottom:449.546487pt;}
.y21{bottom:453.066485pt;}
.yab{bottom:456.746484pt;}
.y67{bottom:459.786483pt;}
.y42{bottom:468.426479pt;}
.y20{bottom:474.506477pt;}
.yaa{bottom:475.146477pt;}
.y88{bottom:480.266475pt;}
.y41{bottom:489.866471pt;}
.ya9{bottom:494.346469pt;}
.y66{bottom:494.826469pt;}
.y1f{bottom:495.946468pt;}
.y87{bottom:502.026466pt;}
.ya8{bottom:515.786460pt;}
.y40{bottom:517.066460pt;}
.y1e{bottom:517.546460pt;}
.y86{bottom:518.986459pt;}
.y65{bottom:527.306456pt;}
.ya7{bottom:537.226452pt;}
.y1d{bottom:538.986451pt;}
.y64{bottom:554.506445pt;}
.ya6{bottom:558.666443pt;}
.y1c{bottom:560.106443pt;}
.y3f{bottom:560.586442pt;}
.y85{bottom:575.466436pt;}
.y63{bottom:576.426436pt;}
.y94{bottom:578.666667pt;}
.y1b{bottom:581.866434pt;}
.y3e{bottom:584.906433pt;}
.ya5{bottom:585.706432pt;}
.y62{bottom:597.866428pt;}
.y84{bottom:600.586426pt;}
.y1a{bottom:602.826426pt;}
.ya4{bottom:608.266423pt;}
.y3d{bottom:609.866423pt;}
.y61{bottom:619.306419pt;}
.y19{bottom:621.226418pt;}
.y83{bottom:625.386417pt;}
.ya3{bottom:629.706415pt;}
.y3c{bottom:631.946414pt;}
.y18{bottom:639.626411pt;}
.y60{bottom:643.786409pt;}
.ya2{bottom:651.146406pt;}
.y3b{bottom:656.266404pt;}
.y17{bottom:658.026403pt;}
.y82{bottom:661.066402pt;}
.y5f{bottom:668.746399pt;}
.ya1{bottom:672.586398pt;}
.y16{bottom:676.426396pt;}
.y3a{bottom:678.506395pt;}
.y81{bottom:690.346391pt;}
.ya0{bottom:694.026389pt;}
.y15{bottom:694.826389pt;}
.y5e{bottom:696.426388pt;}
.y39{bottom:699.946387pt;}
.y80{bottom:707.306384pt;}
.y14{bottom:713.226381pt;}
.y9f{bottom:718.346379pt;}
.y38{bottom:721.386378pt;}
.y5d{bottom:724.426377pt;}
.y13{bottom:731.626374pt;}
.y37{bottom:742.826370pt;}
.y9e{bottom:746.026368pt;}
.y12{bottom:750.026367pt;}
.y5c{bottom:752.426366pt;}
.y36{bottom:767.786360pt;}
.y11{bottom:768.426359pt;}
.y7f{bottom:772.586358pt;}
.y9d{bottom:774.026357pt;}
.y5b{bottom:779.786355pt;}
.y10{bottom:786.826352pt;}
.y9c{bottom:796.586348pt;}
.y7e{bottom:801.706346pt;}
.yf{bottom:805.226345pt;}
.y5a{bottom:807.786344pt;}
.y9b{bottom:818.026339pt;}
.ye{bottom:823.626337pt;}
.y59{bottom:826.826336pt;}
.y7d{bottom:829.546335pt;}
.y9a{bottom:839.466331pt;}
.yd{bottom:842.026330pt;}
.y7c{bottom:851.306326pt;}
.yc{bottom:860.426322pt;}
.y99{bottom:860.906322pt;}
.yb{bottom:878.826315pt;}
.y7b{bottom:881.546314pt;}
.y98{bottom:882.026314pt;}
.y58{bottom:891.786310pt;}
.ya{bottom:897.226308pt;}
.y97{bottom:903.786305pt;}
.y7a{bottom:908.746303pt;}
.y9{bottom:915.626300pt;}
.y96{bottom:925.386297pt;}
.y79{bottom:930.186295pt;}
.y8{bottom:934.026293pt;}
.y57{bottom:943.306289pt;}
.y95{bottom:946.826288pt;}
.y78{bottom:951.786286pt;}
.y7{bottom:952.426286pt;}
.y56{bottom:964.746281pt;}
.y35{bottom:968.266279pt;}
.y6{bottom:971.306278pt;}
.y55{bottom:986.186272pt;}
.y77{bottom:986.826272pt;}
.y34{bottom:989.706271pt;}
.y5{bottom:992.746270pt;}
.y54{bottom:1010.506262pt;}
.y33{bottom:1011.146262pt;}
.y4{bottom:1013.706261pt;}
.y2{bottom:1035.466252pt;}
.y0{bottom:1042.000000pt;}
.y1{bottom:1051.146246pt;}
.y32{bottom:1053.866512pt;}
.h1{height:6.666667pt;}
.h3{height:49.082860pt;}
.h4{height:59.135976pt;}
.hd{height:60.991976pt;}
.hc{height:61.439975pt;}
.h2{height:61.695975pt;}
.he{height:64.639974pt;}
.h5{height:69.189092pt;}
.h8{height:69.190159pt;}
.h6{height:71.884771pt;}
.hb{height:470.000000pt;}
.ha{height:883.333333pt;}
.h7{height:942.666667pt;}
.h9{height:948.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:644.000000pt;}
.w2{width:644.666667pt;}
.w3{width:646.666667pt;}
.w0{width:793.333333pt;}
.xa{left:68.000000pt;}
.x14{left:81.333333pt;}
.x0{left:84.000000pt;}
.x6{left:86.072099pt;}
.x10{left:90.879302pt;}
.xe{left:96.319691pt;}
.x29{left:107.199957pt;}
.x9{left:111.512089pt;}
.x28{left:115.199954pt;}
.x19{left:121.279951pt;}
.x8{left:130.400426pt;}
.x2{left:135.679946pt;}
.x3{left:208.478635pt;}
.xb{left:218.079913pt;}
.x5{left:223.671911pt;}
.x1{left:233.279907pt;}
.x25{left:283.999886pt;}
.x7{left:347.839861pt;}
.x4{left:413.919834pt;}
.x1f{left:418.239833pt;}
.x1a{left:428.959828pt;}
.x12{left:435.199245pt;}
.x27{left:441.439823pt;}
.x13{left:452.159819pt;}
.x20{left:458.879816pt;}
.x11{left:463.519865pt;}
.x1e{left:468.959812pt;}
.x1d{left:510.079796pt;}
.x22{left:521.599791pt;}
.x18{left:524.479790pt;}
.x24{left:527.199789pt;}
.x23{left:548.799780pt;}
.x26{left:567.679773pt;}
.x2a{left:578.711769pt;}
.x2b{left:583.040021pt;}
.x1b{left:587.519765pt;}
.x1c{left:641.439743pt;}
.xf{left:654.399738pt;}
.x15{left:672.639731pt;}
.x21{left:691.839723pt;}
.x16{left:699.199720pt;}
.xd{left:704.479723pt;}
.xc{left:707.199717pt;}
.x17{left:725.759710pt;}
}
